<div class="container">
  <div class="jumbotron">
  <div style="text-align:center">
    <h1>To NOT Do List for {{month}}.{{day}}.{{year}}</h1>
    <h1>Welcome, {{userName}}!</h1>
    <h3>{{currentFocus}}</h3>
    <form>
      <input [(ngModel)]="userName" type="text" name="user">
    </form>
    <app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>
    </div>
  </div>
  <hr>
  <app-new-task (sendTask)="addTask($event)"></app-new-task>
  <app-edit-task [childSelectedTask]="selectedTask" (clickedDone)= "finishedEditing()"></app-edit-task>
</div>
